<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Legere-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B883C1BB2280FC170094CC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B883C1CF2280FC180094CC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B883C1DA2280FC180094CC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
